@font-face {
    font-family: 'SF Pro Display Thin Italic';
    src: url('SFPRODISPLAYTHINITALIC.OTF') format('opentype'),
    url('SFPRODISPLAYTHINITALIC.ttf') format('truetype');
}

/* Corpo da pagina */

body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#E3F2FE 90.5%, #C9E7F5);
}

p {
    color:black;
    font-family: 'SF Pro Display Thin Italic';
    font-size: 1.3020833333333333vw;
    text-decoration: none;
}

/* Elementos do perfil */

.logo-pz{
    position:absolute;
    width: 5.533vw;
    top: 49.719vh;
    left: 13.08vw;
}

.foto-perfil{
    position:absolute;
    width: 9.57vw;
    left: 6.966vw;
    top: 36.274vh;
}

/* Linha de divisao */

#linha{
    position: absolute;
    height: 100%;
    border-right: 2px solid white;
    left: 28vw;
}

/* Elementos da navegacao -> Icones, texto */

nav:hover {
    cursor:pointer;
    text-decoration: none;
    color: #000000;
}

.icone{
    position: absolute;
    width: 6.739vw;
    display: block;
}

/* instagram */
.insta{
    position: absolute;
    left:46.8vw;
    top: 18.9vh;
}

.insta > .insta-icon + p{
    position: absolute;
    top: 16.534vh;
}

/* twitter */

.twitter{
    position: absolute;
    top: 18.9vh;
    left: 72.655vw;
}

.twitter > .twitter-icon + p{
    position: absolute;
    top: 16.534vh;
}

/* tiktok */

.tiktok{
    position: absolute;
    top: 63.585vh;
    left: 46.8vw;
}

.tiktok > .tiktok-icon + p{
    position: absolute;
    top: 16.534vh;
}

/* pinterest */ 

.pinterest{
    position: absolute;
    top: 63.585vh;
    left: 72.655vw;
}

.pinterest > .pinterest-icon + p{
    position: absolute;
    top: 16.534vh;
}

/* Mobile */ 

@media screen and (max-width: 540px){
    p{
        font-size: 12px;
    }

    .foto-perfil{
        width: 26.57vw;
        left: 37.966vw;
        top: 6.274vh;
    }

    .logo-pz{
        width: 14.533vw;
        top: 15.7190vh;
        left: 55.08vw;
    }

    #linha{
        height: 0%;
        width: 100%;
        border-bottom: 2px solid white;
        top: 28vh;
        left: 0vw;
    }

    .icone{
        width: 5rem;
    }


    .insta{
        top: 41vh;
        left: 25vw;
    }

    .insta > .insta-icon + p{
        top: 14vh;
        left: 2.5vw;
    }

    .twitter{
        top: 41vh;
        left: 60vw;
    }

    .twitter > .twitter-icon + p{
        top: 14vh;
        left: 2.5vw;
    }

    .tiktok{
        top: 68.5vh;
        left: 25vw;
    }

    .tiktok-icon + p{
        top: 14vh;
        left: 2.5vw;
    }

    .pinterest{
        top: 68.5vh;
        left: 60vw;
    }

    .pinterest-icon + p{
        top: 14vh;
        left: 2.5vw;
    }
    
    .insta, .insta > .insta-icon + p,
    .twitter, .twitter > .twitter-icon + p,
    .tiktok, .tiktok > .tiktok-icon + p,
    .pinterest, .pinterest > .pinterest-icon + p{

        position: absolute;

    }

}
