@font-face {
    font-family: 'SF Pro Display Thin Italic';
    src: url('SFPRODISPLAYTHINITALIC.OTF') format('opentype'),
    url('SFPRODISPLAYTHINITALIC.TTF') format('truetype');
}

html{
    background: linear-gradient(#e5f4ff 90.5%, #b7e0ffdb);
}

body{
    font-family: 'SF Pro Display Thin Italic';
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
}

.logo-pz{
    position:absolute;
    width: 85px;
    top: 355px;
    left: 201px;
}

.foto-perfil{
    position:absolute;
    width: 147px;
    left: 107px;
    top: 259px
}

nav:hover {
    cursor:pointer;
    text-decoration: none;
}

.gif{
    position:absolute;
    opacity: 0;
}

.icone{
    position: absolute;
    width: 105px;
    display: block;
}

.insta-icon{
    top: 135px;
    left: 719px;
}

.insta-icon + .gif + p{
    position: absolute;
    top: 254px;
    left: 709px;
}

.twitter-icon{
    top: 135px;
    left: 1116px;
}

.twitter-icon + .gif + p{
    position: absolute;
    top: 254px;
    left: 1107px;
}

.tiktok-icon{
    top: 454px;
    left: 719px;
}

.tiktok-icon + .gif + p{
    position: absolute;
    top: 572px;
    left: 709px;
}

.pinterest-icon{
    top: 454px;
    left: 1116px;
}

.pinterest-icon + .gif + p{
    position: absolute;
    top: 572px;
    left: 1107px;
}